@import 'font';

/* STYLES */

$font-stack: 'Open Sans Light', sans-serif;
$primary-color: #FFF;
$primary-font-size: 16px;
$background-color: #000;

.container {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    font-family: $font-stack;
    font-size: $primary-font-size;
    color: $primary-color;
    background-color: $background-color;
}

header {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    margin-top: 50%;
}

.logo {
    text-align: center;
    width: auto;
    height: auto;
}

.logo img {
    width: 200px;
    height: 200px;
}

.categories-menu {
    text-align: center;
    max-width: 200px;
}

.articles{
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    margin-bottom: 25%;
}

a {
    text-decoration: none;
    color: $primary-color;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.loading-gif img {
  max-height: 200px;
  max-width: 200px;
}

footer {
    color: #c2c2c2;
}

@media all and (min-width: 600px){
    .container {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        width: auto;
        justify-items: center;
        font-family: $font-stack;
        font-size: $primary-font-size;
        color: $primary-color;
        background-color: $background-color;
    }
    
    header {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 50%);
        grid-column-start: 1;
        grid-column-end: 4; 
        width: 100%;
        margin-top: 25%;
    }

    .logo {
        grid-column-start: 1;
        grid-column-end: 2;
        width: auto;
        height: auto;
    }
    
    .categories-menu {
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;
        max-width: 200px;
    }

    .articles{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-template-columns: repeat(3, 33%);
        place-items: center;
        margin-bottom: 25%;
    }

    .loading-gif {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    footer {
        grid-column-start: 1;
        grid-column-end: 4;
        color: #c2c2c2;
    }
}

@media all and (min-width: 1240px) {
    
    .container {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        width: auto;
        justify-items: center;
        font-family: $font-stack;
        font-size: $primary-font-size;
        color: $primary-color;
        background-color: $background-color;
    }
    header {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 50%);
        grid-column-start: 1;
        grid-column-end: 3; 
        width: 100%;
        margin-top: 40%;
    }

    .logo {
        grid-column-start: 1;
        grid-column-end: 2;
        width: auto;
        height: auto;
    }
    
    .categories-menu {
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;
        max-width: 200px;
    }

    .articles{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-template-columns: repeat(4, 25%);
        place-items: center;
        margin-bottom: 25%;
    }

    .loading-gif {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    footer {
        grid-column-start: 1;
        grid-column-end: 2;
        color: #c2c2c2;
    }

}