@font-face {
    font-family: 'Open Sans Bold Italic';
    src: url('../../assets/fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/OpenSans-BoldItalic.woff') format('woff'),
        url('../../assets/fonts/OpenSans-BoldItalic.ttf') format('truetype'),
        url('../../assets/fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic; 
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../../assets/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../assets/fonts/OpenSans-Bold.woff') format('woff'),
        url('../../assets/fonts/OpenSans-Bold.ttf') format('truetype'),
        url('../../assets/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../../assets/fonts/OpenSans-Light.woff2') format('woff2'),
        url('../../assets/fonts/OpenSans-Light.woff') format('woff'),
        url('../../assets/fonts/OpenSans-Light.ttf') format('truetype'),
        url('../../assets/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light Italic';
    src: url('../../assets/fonts/OpenSansLight-Italic.woff2') format('woff2'),
        url('../../assets/fonts/OpenSansLight-Italic.woff') format('woff'),
        url('../../assets/fonts/OpenSansLight-Italic.ttf') format('truetype'),
        url('../../assets/fonts/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

/* STYLES */

$font-stack: 'Open Sans Light', sans-serif;
$primary-color: #FFF;
$primary-font-size: 16px;

.container {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    font-family: $font-stack;
    font-size: $primary-font-size;
    color: $primary-color;
    background-color: #000;
}

header {
    margin-top: 50%;
}

.logo {
    width: auto;
    height: auto;
}

.logo img {
    width: auto;
    height: auto;
}

.categories-menu {
    text-align: center;
}

.articles{
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    margin-bottom: 25%;
}

a {
    text-decoration: none;
    color: $primary-color;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

footer {
    color: #c2c2c2;
}
